{% extends 'base.html.twig' %}

{% block title %}S'inscrire{% endblock %}

{% block body %}
    <div class="page-title sp" style="background-image: url({{ asset('assets/img/page-title.jpg') }})">
        <div class="container text-center">
            <h2>S'inscrire</h2>
        </div>
    </div>
    <div class="contact-area sp">
        <div class="container">
            <div class="row">
                <div class="col-sm-3"></div>
                <div class="col-sm-6">
                    <div class="card">
                        <div class="contact-form">
                            <div class="text-center h3 font-weight-normal" style="margin-bottom: 1.5em;">
                                S'inscrire
                            </div>
                            {{ form_start(form) }}
                                {{ form_row(form.username) }}
                                {{ form_row(form.password) }}
                                {{ form_row(form.confirmpass) }}
                                <button class="button btn-block">Inscription</button>
                            {{ form_end(form) }}
                        </div>
                    </div>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
{% endblock %}
