{% extends 'base.html.twig' %}

{% block title %}Accueil sur le site {% endblock %}
{% block body %}
    <div class="hero-slider">
        <div class="single-slide" style="color:white; background-image: url({{ asset('img/car-1149997_1920.jpg') }})">
            <div class="inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <div class="slide-content">
                                <h2>Bienvenu sur notre site </h2>
                                <p>Nous vous offrons la posibilité de faire des reservation des voiture et des propriété en ligne.</p>
                                <div class="slide-btn">
                                    <a href="#service" class="button">Démarez</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide" style="color:white;background-image: url({{ asset('img/financing-4521118_1920.jpg') }})">
            <div class="inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <div class="slide-content">
                                <h2>Notre agence vous offres.</h2>
                                <p>Notre agence vous offres la possibiliter de conduire la voiture de vos rêve à des côuts réduits.</p>
                                <p>Elle vous offres la possibiliter de loué et d'acheter la voiture de votre choix.</p>
                                <div class="slide-btn">
                                    <a href="{{ path('ad_index') }}" class="button">Nos voiture</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide" style="color:white;background-image: url({{ asset('img/financing-4521118_1920.jpg') }})">
            <div class="inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <div class="slide-content">
                                <h2>Notre agence vous offres.</h2>
                                <p>Notre agence vous offres la possibiliter de vivre dans la maison de vos rêve à des côuts réduits.</p>
                                <p>Elle vous offres la possibiliter de loué et d'acheter la propriété de votre choix.</p>
                                <div class="slide-btn">
                                    <a href="{{ path('property_index') }}" class="button">Nos propriété</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide" style="color:white;background-image: url({{ asset('img/gettyimages-638070190-2048x2048.jpg') }})">
            <div class="inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <div class="slide-content">
                                <h2>Nos vous offrons d'autre service.</h2>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                <div class="slide-btn">
                                    <a href="{{ path('property_index') }}" class="button">Nos propriété</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-area spt" id="service">
        <div class="container">
            <div class="section-title" data-margin="0 0 40px">
                <h2>Nos Services</h2>
                <p>Nous vous proposons de diverse sevices comme:</p>
            </div>
            <div class="row">
                <div class="col-md-4 single-service-2">
                    <div class="inner">
                        <div class="title">
                            <div class="icon">
                                <i class="fa fa-car"></i>
                            </div>
                            <h4>Nos voitures</h4>
                        </div>
                        <div class="content">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-service-2">
                    <div class="inner">
                        <div class="title">
                            <div class="icon">
                                <i class="fa fa-bookmark"></i>
                            </div>
                            <h4>Réservation sur location</h4>
                        </div>
                        <div class="content">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-service-2">
                    <div class="inner">
                        <div class="title">
                            <div class="icon">
                                <i class="fa fa-music"></i>
                            </div>
                            <h4>Réservation sur vente</h4>
                        </div>
                        <div class="content">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 single-service-2">
                    <div class="inner">
                        <div class="title">
                            <div class="icon">
                                <i class="fa fa-home"></i>
                            </div>
                            <h4>Nos propriétés</h4>
                        </div>
                        <div class="content">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-service-2">
                    <div class="inner">
                        <div class="title">
                            <div class="icon">
                                <i class="fa fa-bookmark"></i>
                            </div>
                            <h4>Réservation sur location</h4>
                        </div>
                        <div class="content">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-service-2">
                    <div class="inner">
                        <div class="title">
                            <div class="icon">
                                <i class="fa fa-music"></i>
                            </div>
                            <h4>Réservation sur vente</h4>
                        </div>
                        <div class="content">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-area sp">
        <div class="container">
            <div class="section-title">
                <h2>Nos meuilleurs voitures</h2>
                <p>Nous vous presentons la liste de nos meuilleurs voitures, n'hésiter pas, faite votre choix.</p>
            </div>
            <div class="row">
                {% for ad in ads %}
                    {{ include('ad/_ad.html.twig') }}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12 text-center" data-margin="40px 0 0">
                    <a href="{{ path('ad_index') }}" class="button">Voir tous nos voitures</a>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-area sp">
        <div class="container">
            <div class="section-title">
                <h2>Nos meuilleurs propriétés</h2>
                <p>Nous vous presentons la liste de nos 6 meuilleurs propriété, n'hésiter pas, faite votre choix.</p>
            </div>
            <div class="row">
                {% for property in properties %}
                    {{ include('property/_property.html.twig') }}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12 text-center" data-margin="40px 0 0">
                    <a href="{{ path('property_index') }}" class="button">Voir tous nos propriété</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
