{% extends 'base.html.twig' %}

{% block title %}Accueil sur le site {% endblock %}
{% block body %}
    <div class="hero-slider">
        <div class="single-slide" style="color:white; background-image: url({{ asset('img/car-1149997_1920.jpg') }})">
            <div class="inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <div class="slide-content">
                                <h2>Bienvenu sur notre site de location.</h2>
                                <p>Nous vous offrons la posibilité de faire des reservation de vos voiture en ligne.</p>
                                <div class="slide-btn">
                                    <a href="{{ path('ad_liste') }}" class="button">Nos voiture</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide" style="color:white;background-image: url({{ asset('img/financing-4521118_1920.jpg') }})">
            <div class="inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <div class="slide-content">
                                <h2>Notre agence vous offres.</h2>
                                <p>Notre agence vous offres la possibiliter de conduire la voiture de vos rêve à des côuts réduits.</p>
                                <div class="slide-btn">
                                    <a href="{{ path('ad_liste') }}" class="button">Nos voiture</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single-slide" style="color:white;background-image: url({{ asset('img/gettyimages-638070190-2048x2048.jpg') }})">
            <div class="inner">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-12 text-center">
                            <div class="slide-content">
                                <h2>We Are Digital Product Design Agency.</h2>
                                <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.</p>
                                <div class="slide-btn">
                                    <a href="{{ path('ad_liste') }}" class="button">Nos voiture</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="service-area spt">
        <div class="container">
            <div class="section-title" data-margin="0 0 40px">
                <h2>Nos Services</h2>
                <p>Nous vous proposons de diverse sevices comme:</p>
            </div>
            <div class="row">
                <div class="col-md-4 single-service-2">
                    <div class="inner">
                        <div class="title">
                            <div class="icon">
                                <i class="fa fa-film"></i>
                            </div>
                            <h4>Location de voiture</h4>
                        </div>
                        <div class="content">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-service-2">
                    <div class="inner">
                        <div class="title">
                            <div class="icon">
                                <i class="fa fa-bookmark"></i>
                            </div>
                            <h4>Réservation de voiture</h4>
                        </div>
                        <div class="content">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 single-service-2">
                    <div class="inner">
                        <div class="title">
                            <div class="icon">
                                <i class="fa fa-music"></i>
                            </div>
                            <h4>Autre services</h4>
                        </div>
                        <div class="content">
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-area sp">
        <div class="container">
            <div class="section-title">
                <h2>Nos meuilleurs voitures</h2>
                <p>Nous vous presentons la liste de nos meuilleurs voitures, n'hésiter pas, faite votre choix.</p>
            </div>
            <div class="row">
                {% for ad in ads %}
                    {% set url = path('ad_show', { 'id': ad.id }) %}
                    <div class="single-portfolio col-md-4">
                        <div class="inner">
                            <div class="portfolio-img">
                                <img height="200" src="/img/voiture/{{ ad.voiture.image }}" alt="portfolio-image">
                                <div class="hover-content">
                                    <div>
                                        <a href="{{ url }}" class="button">plus d'information</a>
                                    </div>
                                </div>
                            </div>
                            <div class="portfolio-content">
                                <a href="{{ url }}"><h3>{{ ad.title }}</h3></a>
                                <span>{{ ad.introduction }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12 text-center" data-margin="40px 0 0">
                    <a href="{{ path('ad_liste') }}" class="button">Voir tous nos voitures</a>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-area sp">
        <div class="container">
            <div class="section-title">
                <h2>Nos 6 meuilleurs propriété</h2>
                <p>Nous vous presentons la liste de nos 6 meuilleurs propriété, n'hésiter pas, faite votre choix.</p>
            </div>
            <div class="row">
                {% for property in properties %}
                    {{ include('property/_property.html.twig') }}
                {% endfor %}
            </div>
            <div class="row">
                <div class="col-12 text-center" data-margin="40px 0 0">
                    <a href="{{ path('property_index') }}" class="button">Voir tous nos propriété</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
