<header>
    <div class="container">
        <div class="row">
            <div class="col-6 col-sm-3 logo-column">
                <a href="{{ path('homepage') }}" class="logo">
                    <img src="{{ asset('assets/img/logo.png') }}" alt="logo">
                </a>
            </div>
            <div class="col-6 col-sm-9 nav-column clearfix">
                <nav id="menu" class="d-none d-lg-block">
                    <ul>
                        <li>
                            <a href="{{ path('homepage') }}">Accueil</a>
                        </li>
                        <li><a href="{{ path('ad_liste') }}">Nos voitures</a></li>
                        <li><a href="{{ path('property_index') }}">Nos propriétés</a></li>
                        {% if app.user %}
                            <li><a href="{{ path('booking_index') }}">Mes réservations</a></li>
                        {% endif %}
                        <li><a href="{{ path('contactpage') }}">Contact</a></li>
                        {% if not app.user %}
                            <li><a href="{{ path('app_login') }}">Connection</a></li>
                            <li><a href="{{ path('app_register') }}">Inscription</a></li>
                        {% else %}
                            <li class="has-child">
                                <a href="#">{{ app.user.username }}</a>
                                <ul class="sub-menu">
                                    <li><a href="{{ path('app_account') }}">Mon profile</a></li>
                                    <li><a href="{{ path('app_profile', {'id': app.user.client.id}) }}">Modifier Profile</a></li>
                                    <li><a href="{{ logout_path() }}">Déconnection</a></li>
                                </ul>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>