{% set url = path('property_show', { 'id': property.id }) %}
<div class="single-portfolio col-md-4">
    <div class="inner">
        <div class="portfolio-content">
            <dl>
                <dt>Type : {{ property.type.name }} </dt>
                <dt>Status de la Propriété :
                    <strong>
                        {% if property.type.name == "vente" %}
                            {{ property.sold ? 'Toujour disponible' : 'Acheter' }}
                        {% else %}
                            {{ property.sold ? 'Toujour disponible' : 'Loué' }}
                        {% endif %}
                    </strong>
                </dt>
            </dl>
            {% if property.ratings|length > 0 %}
                {{ include('partials/_rating.html.twig' , {'rating': property.avgRatings}) }}<br>
            {% else %}
                <small>Pas encore noté</small>
            {% endif %}
        </div>
        <div class="portfolio-img">
            <img height="200" src="{{ asset('assets/img/page-title.jpg') }}" alt="portfolio-image">
            <div class="hover-content">
                <div>
                    <a href="{{ url }}" class="button">plus d'information</a>
                </div>
            </div>
        </div>
        <div class="portfolio-content">
            <a href="{{ url }}"><h3>{{ property.title }}</h3></a>
            <span>Prix : {{ property.price|number_format(2, ',', ' ') }} Fcfa </span>
            <span> Surface : {{ property.surface }} m²</span>
        </div>
    </div>
</div>