{% extends 'admin/base.html.twig' %}

{% block title %}Liste des contrats de Location {% endblock %}

{% block body %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Liste des locations</a>
            </li>
            <li class="breadcrumb-item active"></li>
        </ol>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Formaliter de location
                <a class="btn btn-info btn-sm" href="{{ path('admin_location_new_car') }}">
                    Location de voiture
                    <i class="fa fa-plus"></i>
                </a>
                <a class="btn btn-primary btn-sm" href="{{ path('admin_location_new_property') }}">
                    Location de propriété
                    <i class="fa fa-plus"></i>
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Date de Location</th>
                                <th>Date et Heure de Depart</th>
                                <th>Date et Heure d'ArriveAt</th>
                                <th>Prix de location</th>
                                <th>Type de location</th>
                                <th>Disponibilité</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for location in locations %}
                            {% set isValid = location.isReturn %}
                            <tr>
                                <td>{{ location.id }}</td>
                                <td>{{ location.dateLocation ? location.dateLocation|date('Y-m-d') : '' }}</td>
                                <td>{{ location.departAt ? location.departAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ location.ArriveAt ? location.ArriveAt|date('Y-m-d H:i:s') : '' }}</td>
                                <td>{{ location.price|number_format(2, ',', ' ') }} fcfa</td>
                                <td>
                                    {% if location.voiture is not null %}
                                         Voiture
                                    {% else %}
                                        Propriété
                                    {% endif %}
                                </td>
                                <td>{{ location.isReturn? 'Toujours disponile' : 'loué' }}</td>
                                <td>
                                    <a class="btn btn-primary btn-sm" href="{{ path('admin_location_show', {'id': location.id}) }}">
                                        <i class="fas fa-eye"></i>
                                    </a>
                                    <a style="{% if location.property is not null %}{% set isValid = location.property.sold %}{% if isValid == true %} display:none;{% endif %}{% else %}{% set isValid = location.voiture.isDispo %}{% if isValid == false %} display:none;{% endif %}" class="btn btn-warning btn-sm" href="{% if location.voiture is not null %}{{ path('admin_location_edit', {'id': location.id}) }}{% else %}{{ path('admin_location_property_edit', {'id': location.id}) }}{% endif %}">
                                        <i class="fas fa-edit"></i>
                                    </a>
                                    <a style="{% if location.property is not null %}{% set isValid = location.property.sold %}{% if isValid == true %} display:none;{% endif %}{% else %}{% set isValid = location.voiture.isDispo %}{% if isValid == false %} display:none;{% endif %}" class="btn btn-success btn-sm" href="{% if location.voiture is not null %}{{ path('admin_location_return_car', {'id': location.id}) }}{% else %}{{ path('admin_location_return_property', {'id': location.id}) }}{% endif %}">
                                        <i class="fas fa-check"></i>
                                    </a>
                                    {{ include('admin/location/_delete_form.html.twig') }}
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="6">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>
    </div>
{% endblock %}
