{% extends 'admin/base.html.twig' %}

{% block title %}
    Location
    {% if location.voiture is not null %}
        Voiture {{ location.voiture.marque }} {{ location.voiture.modele }}
    {% else %}
        Propriété {{ location.property.title }}
    {% endif %}
{% endblock %}

{% block body %}
    {% set property = location.property %}
    {% set voiture = location.voiture %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Gestion des locations</a>
            </li>
            <li class="breadcrumb-item active">Location n°{{ location.id }}</li>
        </ol>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Tableau des réservations
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="alert alert-ligth">
                            <h2>Détails</h2>
                            <dl class="row">
                                <dt class="col-md-4">Numéros</dt>
                                <dd class="col-md-8">{{ location.id }}</dd>
                                <dt class="col-md-4">Nom prénom du client</dt>
                                <dd class="col-md-8">{{ location.client.fullName }}</dd>
                                <dt class="col-md-4">Date de location</dt>
                                <dd class="col-md-8">{{ location.dateLocation | date('d/m/Y') }}</dd>
                                <dt class="col-md-4">Date de Départ</dt>
                                <dd class="col-md-8">{{ location.departAt | date('d/m/Y') }}</dd>
                                <dt class="col-md-4">Date de D'arriver</dt>
                                <dd class="col-md-8">{{ location.ArriveAt | date('d/m/Y') }}</dd>
                                {% if location.property is not null %}
                                    <dt class="col-md-4">Avance </dt>
                                    <dd class="col-md-8">{{ location.avance }} mois</dd>
                                    <dt class="col-md-4">Type </dt>
                                    <dd class="col-md-8">{{ location.property.type.name }}</dd>
                                {% else %}
                                    <dt class="col-md-4">Type </dt>
                                    <dd class="col-md-8">{{ location.voiture.type.name }}</dd>
                                {% endif %}
                                <dt class="col-md-4">Montant total</dt>
                                <dd class="col-md-8">{{ location.price| number_format(2, ',', ' ') }} fcfa</dd>
                                <dt class="col-md-4">Louer</dt>
                                <dd class="col-md-8">{{ location.isReturn? 'Toujours disponile' : 'loué' }}</dd>
                            </dl>
                            <hr>
                            <h2 class="alert-heading">Votre hôte</h2>
                            <div class="mb-3">
                                <dl class="row">
                                    <dt class="col-md-4">Nom societé</dt>
                                    <dd class="col-md-8">BKG TRANS Sarl</dd>
                                    <dt class="col-md-4">Contact</dt>
                                    <dd class="col-md-8">
                                        (00228) 90 38 99 14 <br>
                                        (00228) 97 05 80 20 <br>
                                        (00228) 22 54 81 90
                                    </dd>
                                    <dt class="col-md-4">Email</dt>
                                    <dd class="col-md-8">bkgtrans2@gmail.com ou <br> mathiasguede007@gamil.com</dd>
                                    <dt class="col-md-4">Adresse</dt>
                                    <dd class="col-md-8">Quartier Adidogomé</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="alert alert-ligth">
                            {% if location.voiture is not null %}
                                <h2 class="alert-heading">Votre Voiture</h2>
                                <h4 class="my-3">
                                    <h4>{{ voiture.marque }} {{ voiture.modele }}</h4>
                                </h4>
                                <img src="/img/voiture/{{ voiture.image }}" alt="" class="img-fluid">
                                <div class="my-3">
                                </div>
                            {% else %}
                                <h2 class="alert-heading">Votre Propriété</h2>
                                <h4 class="my-3">
                                    <h4>{{ property.title }}</h4>
                                </h4>
                                <img src="/img/properties/{{ property.image }}" alt="" class="img-fluid">
                                <div class="my-3">
                                    {{ property.description | raw }}
                                </div>
                            {% endif %}


                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="btn btn-link" href="{{ path('admin_location_index') }}">
            <i class="fas fa-arrow-circle-left"></i>
            Retour à la liste
        </a>
    </div>
{% endblock %}
