{% extends 'admin/base.html.twig' %}

{% block title %}Liste des clients{% endblock %}

{% block body %}
    <div class="container-fluid">
        <!-- Breadcrumbs-->
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="#">Liste des Clients</a>
            </li>
            <li class="breadcrumb-item active"></li>
        </ol>

        <div class="card mb-3">
            <div class="card-header">
                <i class="fas fa-table"></i>
                Ajouter un client
                <a class="btn btn-info btn-sm" href="{{ path('client_new') }}">
                    <i class="fas fa-plus"></i>
                    Ajouter
                </a>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>N°</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>Adresse</th>
                                <th>CIN</th>
                                <th>Date Naissance</th>
                                <th>Lieu Naissance</th>
                                <th>Contact</th>
                                <th>Numéros Permis</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for client in clients %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ client.nom }}</td>
                                    <td>{{ client.prenom }}</td>
                                    <td>{{ client.adresse }}</td>
                                    <td>{{ client.numCin }}</td>
                                    <td>{{ client.dateNaiss ? client.dateNaiss|date('Y-m-d') : '' }}</td>
                                    <td>{{ client.lieuNaiss }}</td>
                                    <td>{{ client.contact }}</td>
                                    <td>{{ client.numPermis }}</td>
                                    <td>
                                        <a class="btn btn-primary btn-sm" href="{{ path('client_show', {'id': client.id}) }}">
                                            <i class="fas fa-eye"></i>
                                        </a>
                                        <a class="btn btn-warning btn-sm" href="{{ path('client_edit', {'id': client.id}) }}">
                                            <i class="fas fa-edit"></i>
                                        </a>
                                        {{ include('client/_delete_form.html.twig') }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="10">no records found</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer small text-muted">Updated yesterday at 11:59 PM</div>
        </div>

    </div>
{% endblock %}
