<!doctype html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
              content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>BKGTrans - {% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/barfiller.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/font-awesome.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/slicknav.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        <div class="preloader">
            <span class="preloader-spin"></span>
        </div>
        <div class="site">
            {{ include('partials/_header.html.twig') }}
            {% block body %}{% endblock %}
            {{ include('partials/_footer.html.twig') }}
        </div>
        <script src="{{ asset('assets/js/jquery-2.2.4.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/popper.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/owl.carousel.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/isotope.pkgd.min.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/jquery.barfiller.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/loopcounter.js') }}"></script>
        <script src="{{ asset('assets/js/vendor/slicknav.min.js') }}"></script>
        <script src="{{ asset('assets/js/active.js') }}"></script>
    </body>
</html>
