{% extends 'base.html.twig' %}

{% block title %}Réserver la propriété : {{ property.title }} !{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker.min.css') }}"/>
{% endblock %}

{% block body %}
    <div class="page-title sp" style="background-image: url({{ asset('assets/img/page-title.jpg') }})">
        <div class="container text-center">
            <h2>Réservation pour la propriété : {{ property.title }}</h2>
            <p>Vous etes sur le point de reservez le bien, dites nous tout, on s'occupe du reste!</p>
        </div>
    </div>
    <div class="container my-5">

    </div>
    <div class="contact-area sp">
        <div class="container">
            {{ form_start(form) }}
            <div class="contact-info">
                <h2>Commencez par nous dire quelle sont les dates qui vous interessent</h2>
                <div class="row">
                    <div class="col-sm-6">
                        {{ form_row(form.startDate) }}
                    </div>
                    <div class="col-sm-6">
                        {{ form_row(form.endDate) }}
                    </div>
                </div>
                <h3 class="mt-3">Montant de la reservation : <span id="amount">...</span> fcfa </h3>
                <span id="days">0</span> mois à {{ property.price|number_format(2, '.', ' ') }}fcfa / mois
                <h3 class="mt-4">Vous avez un commentaire ?</h3>
                {{ form_row(form.comment) }}
            </div>
            <h2>Vous avez terminé ?</h2>
            <p>Vacances de rêve ? Mariage de rêve ? Peu importe, on est avec vous !</p>
            <button type="submit" class="btn btn-success mb-5">Je réserve !</button>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/bootstrap-datepiker.min.js') }}"></script>
    <script>
        $(document).ready(function(){
            $('#booking_startDate, #booking_endDate').datepicker({
                format: 'dd/mm/yyyy',
                datesDisabled: [
                    {% for days in property.notAvailableDays %}
                    "{{ days.format('d/m/Y') }}",
                    {% endfor %}
                ],
                startDate: new Date()
            });
            $('#booking_startDate, #booking_endDate').on('change', calculateAmount);
        });
        function calculateAmount(){
            const endDate = new Date($('#booking_endDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));
            const startDate = new Date($('#booking_startDate').val().replace(/(\d+)\/(\d+)\/(\d{4})/, '$3-$2-$1'));

            if (startDate && endDate && startDate < endDate){
                const DAY_TIME = 24 * 60 * 60 * 1000;
                const MOUNTH_TIME = DAY_TIME;

                const intervalle = endDate.getTime() - startDate.getTime();
                const days = intervalle / MOUNTH_TIME;
                const amount = days * {{ property.price }};

                $('#days').text(days);
                $('#amount').text(amount.toLocaleString("fr-FR"));
            }
        }
    </script>
{% endblock %}